[2020-05-12 15:04] edualm opened #1 "Investigate color pickers"
Possibly change to https://github.com/benjiburgess/ColorPicker/tree/master?

[2020-05-12 18:37] edualm opened #2 "Core Data + Combine"
Investigate the usage of core data + combine for the engine.

https://stackoverflow.com/questions/60495494/how-to-using-combine-to-react-to-coredata-changes-in-the-background

[2020-06-07 12:14] edualm opened #3 "Lights Out!"
Provide a way to turn off the lighting of all devices, without storing that configuration to disk.

[2020-06-07 12:14] edualm opened #4 "Watch for USB changes"
FruityUI should change for when an USB device is connected/disconnected, in order to be able to update lighting effects appropriately.

[2020-06-07 12:14] edualm commented on #1
Won't change, at least for now.

[2020-06-07 12:14] #1 closed, assigned to edualm

[2020-06-07 12:15] edualm commented on #2
Not going to be implemented like this.

[2020-06-07 12:15] #2 closed, assigned to edualm

[2020-06-07 12:24] edualm commented on #4
Done as part of https://github.com/FruityRazer/FruityUI-Swift/commit/6f6406b0ef70bbd254312aa3ff6406cc592f2c29.

[2020-06-07 12:24] #4 closed, assigned to edualm

[2020-06-07 14:03] edualm opened #5 "Display JSON Errors"
JSON errors are currently ignored on the Synapse 3 UI, a validation message should be presented to the user when there's an error.

Additionally, some help and/or examples should be provided on this UI.

[2020-06-08 08:47] edualm opened #6 "Open on Login"
Make it easy for the app to be opened on login - this can currently be added manually (of course), but adding it as a checkbox or similar on the app itself would be great.

[2020-06-08 19:36] #6 closed, assigned to edualm

[2020-06-08 19:36] #5 closed, assigned to nobody

[2020-06-08 20:01] #3 closed, assigned to edualm

[2020-06-09 16:54] edualm opened #7 "Auto-Update Support"
Integrate Sparkle (or similar) for auto-update support.

[2020-06-10 03:44] ghost opened #8 "The Save Button Doesn't Work"
I have my Blackwidow 2019 and saw the new version, so I got it :) However, although it can recognize my device, the color preferences don't save. Here's a video: https://drive.google.com/file/d/1JJ2s9oqgOIrXJvWeYIvL7xY08otAzta6/view?usp=sharing (GitHUb doesn't let me upload the zip with the video)

[2020-06-10 03:45] ghost commented on #8
Oh. wait it works, just had to change to another profile

[2020-06-10 10:34] edualm commented on #8
@SangsterMLG What do you mean by "change to another profile"? One of your keyboard profiles? Could be something for me to look into!

[2020-06-10 23:06] ghost commented on #8
No, so you know how some keyboards can have multiple stored profiles that can store different light settings and macros? I just had to set it to the default one with the keyboard shortcut, since mine was set to red, although the default is white.

[2020-06-11 00:34] edualm commented on #8
Ah I see. That makes sense, thanks for clarifying. :)

[2020-06-11 00:34] #8 closed, assigned to nobody

[2020-06-12 20:39] EDWINTEGOD opened #9 "Please add support for Razer Viper Ultimate."
i've got a razer viper ultimate and would like it if you would add support for it in FruityRazer.
Thanks

[2020-06-13 18:57] edualm commented on #7
https://github.com/sparkle-project/Sparkle/blob/2.x/README.markdown

https://github.com/sparkle-project/Sparkle/blob/2.x/INSTALL.markdown

[2020-06-14 02:50] edualm opened #10 "Add device images"
Most of the device images are missing.

This is easy to add, just fill in the `DeviceImages.plist` file.

The links to the images themselves can be found on Razer’s support page.

[2020-06-15 00:10] edualm opened #12 "Device Image Cache"
Device images should be downloaded once from Razer servers and then cached locally.

[2020-06-16 01:04] #12 closed, assigned to nobody

[2020-06-16 10:26] edualm opened #13 "Color Picker"
The current color picker does not support saturation change. We should change to a better one.

Refer to https://github.com/FruityRazer/FruityKit/issues/6#issuecomment-644670143.

[2020-06-21 02:46] ghost opened #14 "How do I reset settings?"
I was fiddling with the settings, and set the number really high, and now fruity UI isn't opening. How to I reset the settings without opening the app?

[2020-06-21 10:23] edualm commented on #14
Hey,

There is currently no way to reset the settings (though I'll have to look into that someday).

For now, I think I know what your issue is.

Can you try updating to `1.2.1`? (https://github.com/FruityRazer/FruityUI/releases/v1.2.1)

Thanks!

[2020-06-21 23:23] ghost commented on #14
Actually, I just deleted all the fruityui files in the library folder and I erased the settings :)

[2020-06-21 23:23] #14 closed, assigned to nobody

[2020-06-21 23:24] edualm commented on #14
I wasn't sure how that would work because of iCloud Sync, but glad that fixed it.

It shouldn't happen again though! :)

[2020-06-23 00:03] ghost opened #15 "Question: How do you create Synapse 2 effects?"
Do you grab them from the synapse 2 effect website or do you make them yourself?

[2020-06-23 14:00] edualm commented on #15
The Synapse 2 effects are hardware effects, which means that the devices themselves support them. They are special messages sent to the devices (cf. https://github.com/FruityRazer/FruityKit/blob/master/FruityKit/Core/openrazer/razerkbd_driver.c#L320)

Synapse 3 effects are different, and allow for a lot more customization, but there is still only simple support for those on FruityUI. The basis for

[2020-06-23 14:00] #15 closed, assigned to nobody

[2020-07-13 02:59] EDWINTEGOD opened #16 "please add Razer Mouse Dock support"

[2020-07-16 07:33] nemosmithasf opened #17 ""Static" and "Reactive" doesn't work on Huntsman"
Testing with a vanilla Huntsman. All the other effects work, but when I choose "static" and "Reactive" and press save, nothing happens (keyboard stays at the previous effect chosen)

[2020-07-16 16:03] edualm commented on #16
Some should be supported, but if it doesn't appear on the UI I'm afraid I am not able to do much, as I can't test with those devices.

I can assist you in adding support if you are able to code, though.

[2020-07-16 16:22] edualm commented on #17
Hey @nemosmithasf,

I see what happened there! Can you please try version `1.2.2` (https://github.com/FruityRazer/FruityUI/releases/tag/v1.2.2) and let me know if that fixes your issue?

[2020-07-16 16:29] nemosmithasf commented on #17
I'm not quite sure how to compile the code, but I'll definitely check back in once the "consumer" version is released.

[2020-07-16 16:30] edualm commented on #17
Oh crap. I forgot to attach the app. 🤦‍♂️

Try again on that same link!

[2020-07-16 16:32] nemosmithasf commented on #17
![Screen Shot 2020-07-16 at 12 32 10 PM](https://user-images.githubusercontent.com/14184529/87697679-65630f00-c760-11ea-9f36-708668ff57d1.png)

I get an empty screen with the latest version

[2020-07-16 16:35] edualm commented on #17
_sigh_ You're right. I'll need an hour or two before I'm able to work on it, but expect a fixed version in a few hours.

[2020-07-16 16:44] edualm commented on #17
Actually, I fixed it.

https://github.com/FruityRazer/FruityUI/releases/tag/v1.2.3

Please give this one a try!

[2020-07-16 17:38] nemosmithasf commented on #17
Can confirm that it works now.

Btw, as a side note, I just got the new 60% version (Huntsman Mini) and it does not show up as a recognized device.

If you plan on supporting it, let me know if I can contribute any info.

Thanks for all the good work.

[2020-07-16 18:10] edualm commented on #17
Glad to hear that!

Well, I don't know if it supports the same commands as the Huntsman (base/TE/elite), but we can give that a try.

Can you tell me its USB device ID? You can find that info on macOS' system profiler.

https://user-images.githubusercontent.com/387713/68166779-52eecf80-ff5b-11e9-93cc-0407f34eaeb9.png

With that info I can create a build with support for it, though I can't guarante

[2020-07-16 18:40] nemosmithasf commented on #17
No worries, the Huntsman Mini has built-in hardware effects, so I don't think supporting it would be vital. Though if support is already there, it might be worth adding.

The info you asked for:

[code]

[2020-07-17 07:10] ashaik4 opened #18 "app crashes on start"
hardware configuration: razer core x chroma with macbook pro 15 inch 2019.
[FruityUI_2020-07-17-020431_ashaik.crash.zip](https://github.com/FruityRazer/FruityUI/files/4936232/FruityUI_2020-07-17-020431_ashaik.crash.zip)
attached the crash report here.

[2020-07-18 09:41] edualm commented on #18
Hey,

It appears that you attempted to run the app without moving it to the Applications folder, am I right?

Could you try the latest build (https://github.com/FruityRazer/FruityUI/releases/tag/v1.2.5), and running it from the /Applications folder? If it still crashes please send me another crash report and I'll be able to look deeper into it. :)

[2020-07-18 09:44] edualm commented on #17
Since the Huntsman Mini has built-in hardware effects (which I'm curious about and may eventually get a Huntsman Mini!), it doesn't make sense to add support for hardware-based effects.

I've added support for software-based effects in the last release though.

If you want to give it a try (and check if it works, which I don't even know at this stage!), you can play around with it, feeding it data

[2020-07-18 12:45] nemosmithasf commented on #17
Yeah, for sure. I'll take a look to see if software based effects work as-is in the next version (I can't see the Mini on the sidebar in the current version)

[2020-07-18 13:03] edualm commented on #17
Oops, forgot to link to the release!

https://github.com/FruityRazer/FruityUI/releases/tag/v1.2.5

[2020-07-18 14:52] nemosmithasf commented on #17
Just tried it, no luck.

The keyboard is recognized but no colours are displayed upon hitting "save".
Hardware colour switching works as normal with the server running in the background.

[2020-07-18 15:52] edualm commented on #17
Well, it was worth a try.

Next step would be analyzing the USB messages that synapse on Windows does, but for that I'd need to own a keyboard. I may eventually... but until then I'm afraid there's not much I can do or try myself.

[2020-07-18 17:27] nemosmithasf commented on #17
Thanks again for the good work

[2020-07-18 17:27] #17 closed, assigned to nobody

[2020-07-18 20:02] ashaik4 commented on #18
Hi @edualm

I moved the app (build 1.2.5) to the Applications folder. It crashes again. However, it starts fine when I run it without plugging in my eGPU(Razer Core X Chroma).

Also, my razer blackwidow elite keyboard is attached to the USB Port of Razer Core which is connected to my Mac over thunderbolt 3.
[FruityUI_2020-07-18-145754_ashaik.crash.zip](https://github.com/FruityRazer/FruityUI/files

[2020-07-18 20:21] edualm commented on #18
![Erm...](https://user-images.githubusercontent.com/387713/87861219-28537400-c93c-11ea-90c4-6ad4d5dc7711.gif)

---

Well, it is probably something related to the hardened runtime, *but* I'm honestly not able to test that. I don't have an eGPU (or, even, a Thunderbolt 3 dock to check if the same problem is present there).

Does it work if you have the eGPU connected but the keyboard connected direc

[2020-07-18 22:15] ashaik4 commented on #18
nope, it doesn't without eGPU. Everything worked before the latest MacOS update. I think something broke after the MacOS update.
I am an experienced python developer but I can take a look at the code with some guidance.

[2020-07-18 22:22] ashaik4 commented on #18
The fruityUI app opens up without any peripherals attached. It doesn't work when any dock, or even when the razer keyboard is attached using a USB to type-c converter.

[2020-07-19 00:07] edualm commented on #18
So, I updated my Mac to 10.15.6, and the app still works flawlessly for me.

I have attached a debug build of FruityUI here. Can you try this one? You may need to cmd-click the app to open it as it's not developer ID signed / notarized.

If it still crashes, can you send me the crash log of this one? It should at least give a much clearer message.

[FruityUI.zip](https://github.com/FruityRazer/Fru

[2020-07-19 06:18] ashaik4 commented on #18
[FruityUI_2020-07-19-011221_ashaik_without_egpu.crash.zip](https://github.com/FruityRazer/FruityUI/files/4943313/FruityUI_2020-07-19-011221_ashaik_without_egpu.crash.zip)
[FruityUI_2020-07-19-011452_ashaik_eGPU.crash.zip](https://github.com/FruityRazer/FruityUI/files/4943316/FruityUI_2020-07-19-011452_ashaik_eGPU.crash.zip)

The app doesn't open with or without eGPU. I have attached the crash repo

[2020-07-19 12:25] edualm commented on #18
`Exception Type:        EXC_CRASH (Code Signature Invalid)`

Has to do with codesigning, it was signed with my development certificate so it's complaining on your Mac.

Can you try this one, which I've stripped the code signature of? If it doesn't work, I'm afraid you'd have to try compiling it yourself (which isn't hard at all, just requires you to download the developer tools).

[FruityUI No Cod

[2020-07-20 06:52] ashaik4 commented on #18
This build worked like a charm. Thank you

[2020-07-21 16:36] edualm commented on #18
Only problem with that build is that it's only a workaround, if it worked then it's probably something around sandboxing, but I can't say for sure what.

I guess I can also release debug builds when I release the next versions.

[2020-07-21 16:36] #18 closed, assigned to nobody

[2020-07-25 17:52] robli314 opened #19 "please add Razer Nari Support"

[2020-07-30 11:28] edualm commented on #19
That's a whole different class of devices than what's currently supported, unfortunately.

That would need some USB logs, and someone other than me that owns the device to code that properly.

If someone wants to take this issue, I'd love to get that merged in!

[2020-07-30 20:01] robsonliebke commented on #19
I would love to help on that. However, I need some guidance. So, what would be the first step to start on it besides to set the project up on my machine?

[2020-08-09 20:21] edualm commented on #19
That's actually not the first step 😅

FruityRazer is based on `openrazer`, so its wiki would be a great place to start. This article is how I added support for some of my devices: https://github.com/openrazer/openrazer/wiki/Reverse-Engineering-USB-Protocol

Unfortunately that requires a working Linux install with a Windows VM. :(

Willing to give it a try?

[2020-08-10 15:13] #19 closed, assigned to nobody

[2020-08-28 10:26] sturze opened #20 "Add Mouse DPI?"
Hi! Thanks for your Project!
Do you think there is any possibility to add Mouse Speed settings on your GUI? since there is no Synapse 3 I don't see any way to do this on my Mac for my Razer Deathadder v2.

[2020-08-30 11:03] edualm commented on #20
Hey, thanks for your words!

That might actually be an interesting addition.

I've started playing around with it in `FruityKit` (`mouse-dpi` branch: https://github.com/FruityRazer/FruityKit/tree/feature/mouse-dpi), you can track that for progress if you want.

No promises, but it seems doable yes!

[2020-09-05 18:35] edualm commented on #20
Well, unfortunately that might not be as easy as I expected.

It's possible - but requires a lot more work than I thought, and time that I don't have currently.

I have some code on the `mouse-dpi` branch of the `FruityKit` repo if someone wants to look into it, but I'm afraid I won't be able to do it myself, at least any time soon.

[2020-10-26 20:31] EDWINTEGOD opened #21 "Add basilisk Ultimate support"

[2020-10-27 14:39] edualm commented on #21
I'll add support for this and https://github.com/FruityRazer/FruityUI/issues/16 as soon as https://github.com/openrazer/openrazer/pull/1152 is merged.

[2020-10-27 15:20] EDWINTEGOD commented on #21
ight thanks

[2020-10-31 14:21] ecowarrior opened #22 "cynosa lite"
Hey, im really new to this all and am on mac. Will i be able to change the rgb on my keyboard through fruity?

[2020-11-01 18:46] edualm commented on #22
Hey,

Give it a try. The Cynosa Chroma is supported, so if it appears in the UI, you should be good.

Won't break anything even if it doesn't work! :)

[2020-11-01 18:46] #22 closed, assigned to nobody

[2020-11-16 17:56] rei12120 opened #23 "Add Tartarus Pro"
Tartarus Pro isn't usable at FruityUI.
Could you please add it as I really need to change the keymaps.
Thank you.

[2020-11-16 19:23] edualm commented on #23
Hello,

FruityUI only supports changing colors at this time, and that won't change in the near future unless someone has the time and wants to do it.

Thanks.

[2020-11-16 19:23] #23 closed, assigned to nobody

[2020-11-22 11:43] ACod00 opened #24 "some device support and slowly wave"
Is possible to add FireFly V2 and Lianli 011 Dynamic Razer Edition support?
Wave on Hutsman Elite is very very fast and on Viper Ultimate is very slow, is possible to add a slider for select speed of wave effect?

[2020-11-22 12:12] edualm commented on #24
Hey,

- Firefly V2: It should be possible as soon as OpenRazer (the Linux drivers that FruityRazer is based off of) adds support for it. When https://github.com/openrazer/openrazer/issues/946 / https://github.com/openrazer/openrazer/pull/1123 are merged I can attempt to add support.
- Lianli 011 Dynamic Razer Edition: Afraid it's out of scope and probably will never happen, unless someone else wan

[2020-12-09 17:47] stef-the opened #25 "Support for Razer Firefly (v1)"
please add support for the firefly v1

[2020-12-10 18:30] edualm commented on #25
Support exists in `openrazer` so it should be possible.

I'll work on that when I have some time.

[2021-01-05 03:07] joshuabaird opened #26 "Support for Ornata V2?"
Is there a chance we will see support for Ornata V2?

[2021-01-05 20:45] brandonmaul opened #27 "Support for Naga Pro"
Possible to support one of Razers newer mice? Basically it's a wireless version of the Naga Trinity MMO mouse.

[2021-01-06 14:06] edualm commented on #27
As soon as https://github.com/openrazer/openrazer/issues/1247 is closed, I may be able to port it.

[2021-01-06 14:06] edualm commented on #26
It should be possible. I'll look into that when I have some time.

[2021-01-06 14:18] joshuabaird commented on #26
Thanks, @edualm!

[2021-01-09 13:16] vale2k7 opened #28 "Support for Razer Orochi"
Hey and thanks for this development!
Is it possible to add Razer Orochi Support? On openrazer it's obviously in the list of supported devices (2011 aswell as 2013 and 2015 chroma model)
All the best wishes!

[2021-01-09 20:14] edualm commented on #28
Hey,

It should be supported, you can check the device list here: https://github.com/FruityRazer/FruityKit/blob/master/README.md

Are you running into issues?

Thanks for your words! :)

[2021-01-09 21:06] vale2k7 commented on #28
Thanks for the fast reply! Yes, it should be supported and it also shows my Razer Orochi 2013 being connected. The settings though don't work.
1. Orochi is only able to be set on or off in case of enlightenment. Though it shows me different options such as breathe or spectrum in a dropdown and in a second dropdown I can choose the direction (actually there's only one LED in the mouse wheel)
2. Got

[2021-01-09 23:29] edualm commented on #28
Hey,

No worries!

I'm afraid in this case the app won't be of much use to you. The only thing supported is the controls of the LEDs - other things like buttons, profiles, etc, are out of scope. This is a simple user space only driver, that only sends messages to the mouse.

Since the mouse only has one led, that you probably can't control, it may not be able to do much. The options that appear ar

[2021-01-09 23:29] #28 closed, assigned to nobody

[2021-01-12 20:25] samuelgomesgit opened #29 "Razer Goliathus Extended Chroma"
Hi!

First of all, great job with the app.

Could you please add support for: https://www.razer.com/gaming-mouse-mats/Razer-Goliathus-Chroma/RZ02-02500300-R3M1

Thanks in advance!

[2021-01-15 16:36] edualm commented on #29
Hey,

Thanks for your words!

It should be possible. I'll look into that when I have some time. :)

[2021-01-16 12:18] edualm commented on #26
Hey @joshuabaird,

This release should work: https://github.com/FruityRazer/FruityUI/releases/tag/v1.2.9

Please let me know if you run into any problems.

[2021-01-16 12:18] #26 closed, assigned to nobody

[2021-01-17 01:42] edualm commented on #29
Support was added in v1.3.

https://github.com/FruityRazer/FruityUI/releases/tag/v1.3

[2021-01-17 01:42] #29 closed, assigned to nobody

[2021-01-17 01:42] edualm commented on #25
Support was added in v1.3.

https://github.com/FruityRazer/FruityUI/releases/tag/v1.3

[2021-01-17 01:42] #25 closed, assigned to edualm

[2021-01-18 17:48] cjsfj opened #30 "Razer Firefly shows connected, but there is none"
I have a Razer Naga Trinity, and have just installed the v1.3.

When I launch the app, it shows that I also have a Razer Firefly connected, but I do not own one of these.
<img width="1028" alt="Screen Shot 2021-01-18 at 9 48 04 AM" src="https://user-images.githubusercontent.com/1118482/104948534-48f39980-5972-11eb-99f4-627870bb13a2.png">

[2021-01-19 15:31] joshuabaird commented on #26
Thanks!  The device shows as connected now, but no matter the settings, no lights on the keyboard light up:

![image](https://user-images.githubusercontent.com/6271918/105055834-7eb38380-5a41-11eb-816a-8284d1995b86.png)

What am I doing wrong here?

[2021-01-19 21:38] joshuabaird commented on #26
Actually - it just started working magically!

[2021-01-19 23:42] edualm commented on #26
Glad to hear that!

Unfortunately I can't explain why that might be the cause, but let's hope it stays that way!

[2021-01-19 23:44] edualm commented on #30
Hey @cjsfj,

Could you send me the full list/detail of USB devices connected to your Mac? It should be something like this:
![imagem](https://user-images.githubusercontent.com/387713/105107529-3ed7b500-5ab0-11eb-91fc-dceebbc4de13.png)

Feel free to redact any serial numbers or other info that you feel like not sharing.

Thanks!

[2021-01-20 12:42] scrapix opened #31 "Any plans for button mapping features?"
Hey @edualm,
first of all, great work - FruityUi works like a charm and doesn't consume any CPU, while Synapse always makes my MacBook cry with 60-100% CPU consumpation.
Did you ever think about adding button mapping Features for mice?
In case you do, I could support with UX wireframes if you'd like. Unfortunately I'm not much of a coder :/.

So far I've only found a Linux project which supports m

[2021-01-20 12:46] edualm commented on #31
Hello @scrapix,

I am afraid that is out of scope. :(

Button mapping would require writing a system driver that intercepted mouse calls etc., while FruityRazer only aims to be a user-mode app. To be honest, I only wrote it because my Razer Huntsman was stuck in rainbow mode everytime I booted into macOS!

If someone else wants to step up and use FruityUI as a base for button mapping, I'd be more

[2021-01-20 12:46] #31 closed, assigned to nobody

[2021-01-25 22:01] seathasky commented on #27
Looking forward as well for support on naga pro wireless. Ty for your efforts

[2021-01-29 15:49] seathasky commented on #27
https://github.com/1kc/razer-macos/issues/189  some great efforts here, mostly everything working (outside dpi) but colors, dock, battery etc working

[2021-01-29 18:11] qauff commented on #27
Will the Naga Pro support also include the Bluetooth connection?

[2021-02-21 18:03] ahmetolcum opened #32 "Add Some Layer"
Hi I really appreciate your work, it's a nice designed nicely working app. I only want to ask that is it possible to add some extra layers for the lightning so that we can use multiple layers on our keyboard for example I love using static + reactive layers at the same time. Is it possible to add that kind of a feature. Thank you again for your work and support

[2021-02-24 20:02] edualm commented on #32
Hey,

Thanks for your words! :)

As for your request, `FruityKit` (the base framework of FruityUI) has all the pillars set up for that (with regards to Synapse 3 devices) for "custom" animation, but `FruityUI` (the UI part) is not ready for that at all. Additionally, something like Static + Reactive layers would require a lot of per-device investigation, which I do not have either the time or mean

[2021-02-24 20:02] #32 closed, assigned to nobody

[2021-03-15 08:56] LukanoX opened #33 "Add Razer Basilisk v2"
Hi,

Any chance of introducing basilisk v2 in the next update? :)

[2021-03-16 21:10] edualm commented on #33
Hey,

It should be possible. I'll keep that in mind when I have some time to work on it! :)

[2021-03-20 11:35] edualm commented on #7
Done.

[2021-03-20 11:35] #7 closed, assigned to nobody

[2021-04-06 18:02] devantler opened #34 "Razer Deathadder V2 Pro Wireless"
I tried connecting the above mouse with the software, and i cant find a profile for it. Are you planning to update FruityUI with support for the mouse? :-)

[2021-04-09 22:33] edualm commented on #34
Seems to be possible. I'll take a look as soon as I have some time!

[2021-04-11 11:02] provuser opened #35 "Installed the program on my MacOS big sur with razer cynosa lite but cant access the program anymore at all now"
Entered the app once, tried to shove around with some settings and the color wheel. Ever since i rebooted and tried to enter the FruityUI app i cant get in it. it keeps saying:

Check forupdates automatically?
Then i can press Dont check or Check automatically.

Whatever i press i cannot get in the program. Neiter removing the app from my mac repairs it.
How can i get it to work again and set the

[2021-04-11 14:26] edualm commented on #35
Hey @provuser,

After the first launch, the app stays in your menu bar as to not clutter your dock.

If it's running, you can find it at the top, like this:

<img width="205" alt="imagem" src="https://user-images.githubusercontent.com/387713/114308028-508e8e80-9ada-11eb-8b2f-5654ada95980.png">

Let me know if that was your issue!

[2021-04-11 17:55] provuser commented on #35
Hi edualm,
Unfortunetely that wasnt the thing. It seems that the FruitUI simply wont go in the program anymore. Its not on the menu bar and neither does the program appear on the force quit menu (because i cant get pass the initial popup where it asks to check for updates automatically.

![AB4A389E-63AB-4691-9F10-7B1115D37E0E_4_5005_c](https://user-images.githubusercontent.com/56762230/114315579-e

[2021-04-12 21:12] edualm commented on #34
@niem94 Please try version `1.4.2` which I just released. Feel free to re-open the issue if it doesn't fix it for you!

[2021-04-12 21:12] #34 closed, assigned to edualm

[2021-04-12 21:12] edualm commented on #33
@LukanoX Please try version `1.4.2` which I just released. Feel free to re-open the issue if it doesn't fix it for you!

[2021-04-12 21:12] #33 closed, assigned to edualm

[2021-04-12 21:16] edualm commented on #35
Hey @provuser,

That is really weird. The fact that it doesn't appear in the Force Quit menu is *expected* though, as it is considered a menu bar app. Can you get me a full screenshot including the menu bar when the "Check for updates automatically?" window is open?

Anyway - I am afraid FruityUI won't be able to help you in this case, as it currently only has support for lighting effects. It won'

[2021-04-17 10:25] RubiRubsn commented on #18
Hi, is there a debug build for the new version? im on a mac mini m1 and the no signed version workes like a charm. however i want to use a firefly v2 and by the version in this thred its not supported yet.
thanks for the nice work ^^

[2021-04-17 10:32] edualm opened #36 "Mac Mini M1"
Hi, is there a debug build for the new version? im on a mac mini m1 and the no signed version workes like a charm. however i want to use a firefly v2 and by the version in this thred its not supported yet.
thanks for the nice work ^^

__Originally posted by @RubiRubsn in https://github.com/FruityRazer/FruityUI/issues/18#issuecomment-821801873__

[2021-04-17 10:34] edualm commented on #36
Hey,

Can you tell me what the issue is that you're experiencing in your Mac Mini?

I can absolutely get you a debug version in a few hours, but a non-codesigned version is not a permanent fix.

[2021-04-17 10:34] edualm commented on #18
@RubiRubsn opened issue #36 related to your comment.

[2021-04-17 10:42] RubiRubsn commented on #36
At first i started the signed version and it worked for roundabout 20 seconds, after that it crashed. now when i open the programm it askes me "ckeck for updates automatically?" after that the program crashes again. I tried also the version 1.4.2 , 1.4.1 and 1.3 every one crashes when opening. the only version that workes is the unsigned version.

here a video:

https://user-images.githubuserconte

[2021-04-17 10:59] edualm commented on #36
That's interesting.

Could you let me know if a crash log is generated, and attach it here if possible?

From Apple's docs:

To locate and email crash reports for macOS and Mac Catalyst apps:
Open the Console app, from Applications > Utilities in Finder.
Select Crash Reports.
Locate crash reports for your app in the list. Logs are listed by your app’s binary name.
Right-click the desired log’s fil

[2021-04-17 11:17] RubiRubsn commented on #36
here it is:
[FruityUI_2021-04-17-121010_Mac-mini-von-Ruben.txt](https://github.com/FruityRazer/FruityUI/files/6329124/FruityUI_2021-04-17-121010_Mac-mini-von-Ruben.txt)

[2021-04-17 11:31] RubiRubsn commented on #36
So i tested a bit.
When my Ornata chroma is not connected the program runs normal. when connecting it crashes instaniously.
is support for the Razer Firefly v2 added? because the firefly isn`t showing up at all.

[2021-04-17 11:59] edualm commented on #36
[FruityUI.zip](https://github.com/FruityRazer/FruityUI/files/6329177/FruityUI.zip)

I've attached a non-codesigned, debug build. If this one crashes, could you get me another crash report? It should convey better information than the release one.

As for the Firefly V2, it is not implemented yet but it is ready to be implemented. I'll work on that as soon as I have some time. The linked issue is t

[2021-04-17 12:26] RubiRubsn commented on #36
thx for that ^^
so I tryed it and it works kindof well. when i change the light mode this error pops up:

[code]
But when i press save a second time it works

[2021-04-17 12:30] edualm commented on #36
No problem! :)

I have no clue why the debug build works. I'll start releasing debug builds too until I am able to find a solution.

As for the "Save" bug, that may be a quirk on M1 Macs. I don't have an M1 Mac to test the app on but I should get one when the 16" MacBooks are released so let's keep that bug on hold until then.

[2021-04-17 12:34] RubiRubsn commented on #36
thanks ^^

[2021-04-17 13:43] edualm commented on #35
Closing as this is the same bug as reported in https://github.com/FruityRazer/FruityUI/issues/36.

[2021-04-17 13:43] #35 closed, assigned to nobody

[2021-04-18 02:37] owenzhao opened #37 "App Crashed When Saving Template and No Longer Started"
[code]

Steps:

1. Open App
2. Choose keyboard
3. Choose Starlight and save.
4. The mode of Starlight saved and worked but the app crashed and no longer start again.

Workaround:
1. Clear up folder "~/Library/Containers/io.edr.fruityui/Data/Library/Application Support".
2. Open the app again.

The Issue Frequency:
Every time.

The mode setting.

<img width="1290" alt="截屏2021-04-18 上午10 34 56" src=

[2021-04-22 10:44] edualm commented on #37
Hey,

Thanks for the (fantastic!) bug report.

I'll take a close look as soon as I'm able to and will get back to you once I have a fix!

[2021-04-25 14:48] edualm commented on #30
Closing this issue as it had no activity in two months.

[2021-04-25 14:48] #30 closed, assigned to nobody

[2021-04-25 23:45] edualm commented on #37
Hey @owenzhao,

Unfortunately I'm having trouble symbolicating your crash log.

Do you mind trying the debug build (https://github.com/FruityRazer/FruityUI/releases/download/v1.4.2/FruityUI-Debug-Unsigned.zip) and sending me that crash log?

Thanks!

[2021-04-26 03:43] owenzhao commented on #37
Here is the crashed log from Console. I am not sure if this is what you want as you didn't instruct me how to getting the log.

[code]

[2021-04-26 07:51] edualm commented on #37
Hey @owenzhao,

Yep, that was exactly it - thanks!

I've fixed the bug and updated a new version. You should be able to update the app using the built-in updater, or alternatively if it doesn't open, just grab the new version here: https://github.com/FruityRazer/FruityUI/releases/tag/v1.4.3.

Please let me know how it goes! :)

Thanks.

[2021-04-26 08:56] owenzhao commented on #37
Thank you for the quick fix!!💗

[2021-04-26 08:56] #37 closed, assigned to owenzhao

[2021-04-28 12:28] edualm opened #38 "Device List is cut off on 11.3"
**OS version**: macOS Big Sur 11.3

The device appears cut off on the device list. This appears to have only started happening on the 11.3 update; worked fine on 11.1.

<img width="512" alt="imagem" src="https://user-images.githubusercontent.com/387713/116403491-84c9b500-a825-11eb-85a8-fc22df149b76.png">

[2021-05-05 08:35] edualm commented on #38
Fixed in https://github.com/FruityRazer/FruityUI/commit/d2c253efe5831867ec9ea69ed4255a763c6c389a.

Pending a new release (1.4.4).

<img width="512" src="https://user-images.githubusercontent.com/387713/117115566-2d779780-ad85-11eb-9d36-4ccd7398c435.png">

[2021-05-07 13:47] mikeheft opened #39 "How to use"
I found [this](https://www.reddit.com/r/MacOS/comments/i1xxzo/how_do_i_install_razer_synapse_3_on_mac_os/g65fse8/) post about installation/usage. But cannot find the FruityUI.app in the project. How does one use this app?

[2021-05-07 16:08] edualm commented on #39
Hey,

Just grab the app from here: https://github.com/FruityRazer/FruityUI/releases

[2021-05-07 16:08] #39 closed, assigned to nobody

[2021-05-07 16:12] mikeyduece commented on #39
Sorry, I guess I should've elaborated in my initial post. I've been to that page, but my question still persists. I'm not sure what I'm supposed to DL and/or install out of thos files

[2021-05-07 16:13] edualm commented on #39
No worries!

You're supposed to download this one: https://github.com/FruityRazer/FruityUI/releases/download/v1.4.3/FruityUI.zip

Then, just drag it to your `Applications` folder and open. That should be it!

[2021-05-07 16:30] edualm commented on #39
For future reference, I've added installation instructions [here](https://github.com/FruityRazer/FruityRazer/wiki/%5BFruityUI%5D-Installation).

[2021-05-08 01:17] edualm commented on #38
Closed by release 1.4.4 (https://github.com/FruityRazer/FruityUI/releases/tag/v1.4.4).

[2021-05-08 01:17] #38 closed, assigned to edualm

[2021-05-08 19:26] juupajuupa opened #40 "Naga Pro not on device list"
Hey, is it possible to add wireless Razer naga pro?

[2021-05-16 12:15] ukeloop commented on #10
Hi! This project is cool. Assets file path is found on [OpenRazer](https://openrazer.github.io/) project.

[2021-05-21 09:35] GuillaumeDIDIER opened #42 "Overlap with razer-macos"
https://github.com/1kc/razer-macos/ and this project scope seem to overlap but is is A. unclear what the important differences are and B. likely some duplicated work instead of joining force.

Created a similar issue there too : https://github.com/1kc/razer-macos/issues/386

[2021-05-21 21:19] LuxuryWasTaken opened #43 "Razer Blade Base (Early 2020) Wave Support"
Hey, according to OpenRazer linux port, base 2020 model has 1x16 rgb layout, (it's not single zone) so that means wave mode shoulda work, but when I'm trying to set it up, it keep saying that

An error has occurred while setting the selected mode.

Maybe this mode isn't supported by your device?

Can you add it?

[2021-05-22 10:42] RubiRubsn commented on #36
With the new Version, the Program works on M1 like a charm :D

[2021-05-24 08:55] edualm commented on #43
I'll give it a look. I don't have a Razer Blade to test it on, though, so no guarantees there.

[2021-05-24 08:59] edualm commented on #42
From what I can see, both projects are based in OpenRazer, but the UI is very different - `Razer macOS`'s one is based in Electron, while `FruityUI`'s is based in SwiftUI.

FruityRazer is already separated - there's [FruityKit](https://github.com/FruityRazer/FruityKit) which is the core driver code (and would be the duplicated work), while [FruityUI](https://github.com/FruityRazer/FruityUI) is jus

[2021-05-24 21:39] edualm commented on #42
Being discussed [here](https://github.com/1kc/razer-macos/issues/386).

[2021-05-24 21:39] #42 closed, assigned to nobody

[2021-05-30 02:04] edualm commented on #36
Glad to hear that! Closing this issue for now, feel free to open a new one if issues persist. :)

[2021-05-30 02:04] #36 closed, assigned to edualm

[2021-05-30 02:06] edualm commented on #10
Closing as we now have a lot of the images thanks to @ukeloop - more should be added over time though.

[2021-05-30 02:06] #10 closed, assigned to nobody

[2021-05-30 07:54] RubiRubsn opened #44 "Firefly v2 makes the program crash"
Hi, its me again ^^
thanks for adding Firefly V2. But when I´m trying to change a mode on the Firefly FruityUi crashes with no crash report. Also the icon for Firefly is not working.
thx Ruben

[2021-05-30 10:23] edualm commented on #44
Hey,

Sorry to hear that. Could you try the debug build, and then check on the `Console` app (`/Applications/Utilities/Console.app`) under `Crash reports` if any report appears there?

Thanks!

[2021-05-31 07:43] RubiRubsn commented on #44
Hey, here it is ^^
thx for your help^^
btw is there a way to buy you a coffee? love your app^^
[FruityUI_2021-05-31-094119_Mac-mini-von-Ruben.txt](https://github.com/FruityRazer/FruityUI/files/6568625/FruityUI_2021-05-31-094119_Mac-mini-von-Ruben.txt)

[2021-05-31 08:46] edualm commented on #44
Hey,

Thanks for the bug report - that was really useful.

I've published `v1.5.2` that should fix your issue - let me know if not! :)

---

As for the coffee, don't worry about that, I code `FruityRazer` for fun.
Get yourself a coffee and think about me, that's more than enough! 😄

[2021-05-31 08:46] #44 closed, assigned to nobody

[2021-05-31 13:25] RubiRubsn opened #45 "Speed control not working"
Hi, its me again :D
the speed control of the Wave effect for Firefly V2 is not working :D

[2021-05-31 14:53] edualm commented on #45
Hey,

Not-so-good news: the speed control for mouse mats isn't indeed working, but it's not supported by the driver apparently so I'm not going to implement it, at least for now.

I've added some code to conditionally hide that slider if it is not supported for the current device. I am yet to push an update, but the code for that is on the `main` branch already so it will be included in the next u

[2021-05-31 14:53] #45 closed, assigned to nobody

[2021-06-15 08:19] owenzhao opened #46 "Buttons Lost Texts Sometimes"
Just watch the sample video.

For the front-page, it is the "Check for Updates" button. For the setting page, is the "Save" button.

macOS Big Sur 11.4 (20F71)
FruityUI 1.5.2(36)

https://user-images.githubusercontent.com/2182896/122018155-2c5e6f00-cdf5-11eb-8354-9eeabbaa3134.mov

[2021-06-17 23:50] edualm commented on #46
That's... interesting. What language is your OS set to?

[2021-06-18 04:19] owenzhao commented on #46
The languages are set Chinese Simplified as primary and English as second. The region is China Main land and Locale is Chinese.

<img width="780" alt="截屏2021-06-18 下午12 17 08" src="https://user-images.githubusercontent.com/2182896/122505629-526f5380-d02f-11eb-8ae4-6b945e85654a.png">

[2021-06-20 22:12] rhora10 opened #47 "Razer Naga Hex v2 lighting not working correctly"
Hey, when I try to make my mouse any other color/mode than the default, it only changes the color of the Razer Logo. The number pad and the scroll wheel stay spectrum cycling. Is there any way to solve this?

[2021-06-23 11:01] hardtofin opened #48 "Shift and other modifiers not working"
Clicking for example "SHIFT" and "1" on my razer naga trinity does not produce a "!".  Shift is not recognised as a modifier, neither is CTRL or ALT.

This has worked natively in razers software previously (prior to big sur), but does not work in big sur.  I am now using fruity since razer doesnt work at all on big sur but the modifiers don't work in fruity either.

Is this a limitation of big sur

[2021-06-24 20:39] KXG opened #49 "Razer Naga Pro (2020)"
Any chance we'll see support for the new Naga Pro Wireless soon?

[2021-07-01 09:58] edualm commented on #48
Hey,

That's a weird issue, but it's out of scope for `FruityRazer` unfortunately. All that `FruityRazer` currently does is change stuff related to colors. While that this may change in the future, it's not in our plans right now.

Thanks.

[2021-07-01 09:58] #48 closed, assigned to nobody

[2021-07-01 10:13] edualm commented on #49
Will attempt once https://github.com/openrazer/openrazer/issues/1247 is closed.

[2021-08-01 04:31] zaptrem commented on #20
This would be extra useful now that Razer Synapse has basically been abandoned on MacOS and no longer works without heavy mods on Big Sur Intel/not at all on Big Sur Apple Silicon.

[2021-08-06 16:37] edualm commented on #20
I understand how useful it is, but it is a feature that still requires quite a bit of effort.

I may do it eventually, but I can't promise when I may have the time for that unfortunately.

[2021-09-24 16:32] LEOMODE commented on #49
Waiting on this as well.

[2021-10-11 00:29] 0xdevalias opened #50 "Add to homebrew (brew.sh) package manager"
It would be awesome if this project was added to homebrew (https://brew.sh/) as it would make it easier to find/install

I found the following details for how to add a new cask:

- https://github.com/Homebrew/homebrew-cask/blob/master/doc/development/adding_a_cask.md

Since I believe this relies on the FruityRazer driver to be installed for it to work, I think it may need to be added to the homebr

[2021-10-11 14:34] edualm commented on #50
The `FruityRazer` driver is included in `FruityUI`, so that would not be required to be added as a separate package.

It's a great idea though - I'll take a look as soon as I have some spare time. :)

[2021-10-11 15:25] edualm commented on #50
Added a PR on `homebrew-cask`. https://github.com/Homebrew/homebrew-cask/pull/112426

[2021-10-12 16:01] edualm commented on #50
@0xdevalias I think the project needs 2 more stars. 🤷‍♂️

[2021-10-13 01:07] 0xdevalias commented on #50
Ha! Such a frustratingly close limitation/threshold (I saw the comments on the PR you opened)

[2021-10-16 17:16] edualm commented on #50
@0xdevalias Do you want to try submitting it to the homebrew drivers project? Apparently they don't want project maintainers to do it, so you may have a better chance! We already have the required stars.

[2021-11-21 00:44] nolorfin opened #51 "Failure to open at login"
The app fails to load at boot after ticking the "open at login" option. The box is not ticked after rebooting.

<img width="1072" alt="Screenshot 2021-11-21 at 01 43 09" src="https://user-images.githubusercontent.com/72673748/142745036-4d7a6d89-0e60-40b9-b989-4b113a586939.png">

[2021-11-23 15:39] edualm commented on #51
Interesting, I don't see why that would happen.

Is the app on the Applications folder?

Also, would you mind sharing your macOS version?

[2021-11-23 16:27] nolorfin commented on #51
Yeah, the app was on the Applications folder. My OS is the latest, or it should be: 12.0.1.

I fixed the issue by manually adding FruityUI to the list of Login items. I wonder if it should have been there in the first place (I recently moved back to MacOS after a 7-year stint on Windows).

Maybe the problem was that I changed the location of the home folder from the internal to an external SSD, an

[2021-11-23 16:28] edualm commented on #51
That is indeed weird.

Glad you got it fixed, if anyone else encounters this I'll investigate it more!

[2021-11-23 16:28] #51 closed, assigned to nobody

[2021-11-23 16:28] nolorfin commented on #51
Brilliant. Thanks for staying on top of things.

[2021-11-25 02:05] kimdioven opened #52 "Support for Razer BlackWidow v3 TKL & Basilsk v3"
if anyone can walk me through how and where to add the drivers for the devices. and where to download the drivers for it

[2021-11-25 16:43] edualm commented on #52
If you download FruityUI, if the devices are supported, they should appear on the list.

If not, we are always adding support for more devices! :)

[2021-11-25 16:43] #52 closed, assigned to nobody

[2022-01-04 16:57] HugoLiao2001 opened #53 "Support for Razer Mouse Dock Chroma and Razer Kraken Ultimate"
Can you please add support for those two devices? Have been using Fruit UI for some time and I love what it does. Thank you so much for coding this app to help apple users.

[2022-01-04 18:15] edualm commented on #53
Should be possible to add both. I'll take a look when I have some time.

[2022-02-17 01:24] ejcupcake opened #54 "Razer Blackwidow v3 ketboard showing up as"

[2022-02-18 20:25] edualm commented on #54
Showing up as...? 😅

[2022-03-21 00:18] adaypayday opened #55 "Support for Razer Turret for Xbox"
Would love to be able to control my Turret for Xbox from my Mac

[2022-04-16 16:11] Doodle-Aks opened #56 "Device Disconnected Issue - RazerBlade Pro 17 2019"
Hello,

I'm running macOS Catalina 10.15.7 on my RazerBlade Pro 17 2019.
Device is supported on openrazer and is shown when asked to list all devices on FruityUI (Appears as Disconnected).

Kindly Look into this. Do let me know if I need to provide any other details to resolve this issueqq

Device Info:
Model : Razerblade Pro 17 2019
CPU : Intel Core i7 9750H
iGPU : Intel UHD 630 Graphics
dGPU (Di

[2022-04-21 23:49] edualm commented on #56
I see what's happening - the 0x0234 device id isn't being correctly set in FruityKit.

I'll try to do a patch this weekend.

[2022-04-22 22:02] Doodle-Aks commented on #56
Alright. Thank You for attending to this in such a short while. Hope to test this soon 😇

[2022-04-30 14:32] brandonmaul commented on #49
@edualm it looks like openrazer/openrazer#1247 was closed

[2022-05-16 07:41] Doodle-Aks commented on #56
Hi, Any updates regarding this ? Do let me know if I need to generate/share some logs :)

[2022-08-07 09:19] philipp-adam opened #57 "Support for Pro Key and Pro Type"
Hi,

I've have these devices connected via BT and they show the correct icons in BT (Keyboard and Mice) but are not recognized as such and I can't configure them separately from the internal touchpad (e.g. (non-)natural scrolling.
It would be great if these devices could be supported by this project.

Greets,
Philipp

[2022-08-08 12:05] edualm commented on #57
Hey,

FruityUI only supports changing the colors of the devices, at least for now.

Your request is unfortunately out of scope. :(

[2022-08-08 12:05] #57 closed, assigned to nobody

[2022-11-02 02:45] ElMute opened #58 "Basilisk V3 white not detected"
My mouse is not detected by FruityUI

Mouse : Razer Basilisk V3 White
MacOS Monterey 12,6,1

[2022-11-15 13:49] ElMute commented on #58
any news about adding Basilisk V3 white in FruityUI ? would be awesome :)

[2022-11-30 21:23] willyhome opened #59 "Added support for Razer naga epic chroma"
Can't get this mice to work on my mac with any software. Added support would be very appreciated!